$primary-color:#02A9A5;
$light-primary-color: #47E4A3;
$dark-primary-color:#62D5A5;
$faded-primary-color: #4EE3A8;
$faded-dark-primary-color: #3ABC84;
$secondry-color:#004E75;
$white-color:white;
$background-color: #F0EFEA;
$disbaled-text-color: #dcdcdc;
$faded-dark-color:#A09FA4 ;
$faded-grey-color: #ccc;
$grey-color: #616168;