$primary-color: #02a9a5;
$light-primary-color: #47e4a3;
$dark-primary-color: #62d5a5;
$faded-primary-color: #4ee3a8;
$faded-dark-primary-color: #3abc84;
$secondry-color: #004e75;
$white-color: white;
$background-color: #f0efea;
$disbaled-text-color: #dcdcdc;
$faded-dark-color: #a09fa4;
$faded-grey-color: #ccc;
$grey-color: #616168;
$warning-color: #8a0000;
$warning-hover-color: #3e1313;
