$primary-color:#02A9A5;
$secondry-color:#004E75;
$white-color:white;
$background-color: #F0EFEA;
$disbaled-text-color: #dcdcdc;
$light-primary-color: #47E4A3;
$faded-dark-color:#A09FA4 ;
$faded-grey-color: #ccc;
$grey-color: #616168;