.nav-container{
    display: flex;
    margin-right: 1rem;
    overflow: hidden;
    align-items: center;
    .skewed {
        @if $language == 'ar' {
            -webkit-transform: skew(317deg);
            -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
            position: relative;
            overflow: hidden;
        } @else {
            -webkit-transform: skew(-317deg);
            -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
            position: relative;
            overflow: hidden;
        }
    }
    .reversed-skewed{
        @if $language == 'ar' {
            -webkit-transform: skew(-317deg);
            -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
            position: relative;
            overflow: hidden;
        } @else {
            -webkit-transform: skew(317deg);
            -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
            position: relative;
            overflow: hidden;
        }
    }
    .sub-title-nav-container{
        background-color: $white-color;
        color: $primary-color;
        height: 3rem;
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        @if $language == 'ar' {
            #{$direction}: -2.3rem;
        } @else {
            #{$direction}: -2.3rem;
        }
    }
    .sub-title-image{
        position: relative;
        z-index: 99;
        #{$direction}: 3rem;
        border-radius: 5px;
    }
    .main-title-nav-container{
        background-color: $secondry-color;
        color: $white-color;
        height: 6rem;
        width: 60%;
        #{$reverse-direction}: -3rem;
    }

    .main-title-nav-container-box{
        background-color: $primary-color;
        overflow: initial;
    }
    .main-title-box{
        height: 3rem;
        top: 1.5rem;
        position: relative;
        align-items: center;
        display: flex;
        #{$reverse-direction}: 2rem;
        -webkit-transform: skew(360deg);
        width: 102%;
        overflow: hidden;
    }
    .main-title{
        @if $language == 'ar' {
            -webkit-transform: skew(43deg);
        } @else {
            -webkit-transform: skew(-43deg);
        }
        #{$direction}: 1.4rem;
        position: relative;
        margin: 0;
        font-weight: bold;
        &--custom-margin {
            #{$direction}: 2.4rem;
        }
        &--english {
            font-size: 0.7rem;
            font-weight: bold;
        }
    }
    .main-titles-container {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
    .page-title{
        @if $language == 'ar' {
            #{$direction}: 4rem;
        } @else {
            #{$direction}: 4rem;
        }
    }
    .qr-container{
        position: absolute;
        top: 2.1rem;
        left: 5rem;
    }
    @media ($max-phones) {
        margin-right: 0;
        padding: 15px 10px;
        display: block;
        top: initial;
        #{$reverse-direction}: initial;
        width: 100%;
        bottom: 0;
        transition: transform .5s ease-in-out;
        transition-delay: .2s;
        .sub-title-nav-container{
            width: 60%;
        }
      }
}